<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--exported false == we can only access to hiltTestActivity in this package and not from the outside -->
    <application
>
        <activity
            android:screenOrientation="portrait"
            android:name=".presentation.ui.MainActivity"
            android:exported="true"/>
        <provider
            android:authorities="com.soft918.paintapp.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path"/>
        </provider>
    </application>

</manifest>